/**
 * @file
 * This file contains styling for non-theme-specific highlight elements.
 *
 * Colors defined here should be based on convention and accessibility,
 * not on branding decisions.
 *
 * @todo add remaining link hover and focus colors.
 */

/* Notice Box Medium */

.notice-box-med-critical,
.notice-box-med-major,
.notice-box-med-important,
.notice-box-med-notice,
.notice-box-med-info {
  margin: 0.5em 0;
  padding: 1em;
}

.notice-box-med-critical a,
.notice-box-med-major a,
.notice-box-med-important a,
.notice-box-med-notice a,
.notice-box-med-info a {
  color: inherit;
  border-bottom: 1px solid inherit;
}

.notice-box-med-info {
  color: #000;
  background-color: #6bc0eb;
}

.notice-box-med-info a:hover,
.notice-box-med-info a:focus {
  color: #fff;
  background-color: #262729;
}

.notice-box-med-notice {
  color: #000;
  background-color: #80eb6f;
}

.notice-box-med-important {
  color: #000;
  background-color: #ff0;
}

.notice-box-med-major {
  color: #000;
  background-color: #ff8000;
}

.notice-box-med-critical {
  color: #fff;
  background-color: #b40000;
}
