/**
 * @file
 * This file contains reusable grid patterns.
 *
 * @todo Add views classes to this so it works for both
 * paragraphs and views.
 */

.flex-grid.cols-2 > .content {
  --grid-layout-gap: 3em;
  --grid-item--min-width: 450px;
  --grid-column-count: 4;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: var(--grid-layout-gap);
}

.flex-grid.cols-3 > .content {
  --grid-layout-gap: 2em;
  --grid-item--min-width: 330px;
  --grid-column-count: 4;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: var(--grid-layout-gap);
}

.flex-grid.cols-4 > .content {
  --grid-layout-gap: 1em;
  --grid-item--min-width: 280px;
  --grid-column-count: 4;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: var(--grid-layout-gap);
}

.flex-grid > .content > .grid-child {
  position: relative;
  margin: 0.5em;
  padding: 0;
}

.flex-grid > .content > .grid-child > div {
  width: 90%;
  margin: 0 auto;
}
