/*
 * @file
 * Provides the layout styles for layout_twocol.
 */

.layout--twocol > .layout__region--top {
  grid-column: 1 / -1;
}

.layout--twocol > .layout__region--bottom {
  grid-column: 1 / -1;
}

.layout--twocol {
  --grid-layout-gap: 1.5em;
  --grid-item--min-width: 16em;
  --grid-column-count: 2;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  gap: 0 var(--grid-layout-gap);
}
