/**
 * @file
 * CSS Variables.
 */

:root {
  --one-sidebar-width: 30%;
  --two-sidebars-width: 22%;
  --link-color: #00e;
  --link-color-hover: #dedede;
  --nav-link-color: #00e;
  --nav-link-active-color: #000;
}
