/**
 * @file
 * Visual styles for links.
 */

ul.inline,
ul.links.inline {
  display: inline;
  padding-left: 0; /* LTR */
}

[dir="rtl"] ul.inline,
[dir="rtl"] ul.links.inline {
  padding-right: 0;
  padding-left: 15px;
}

ul.inline li {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
}

ul.links a.is-active {
  color: #000;
}

/* Edit links for views */

.edit-link {
  margin-bottom: 0.7em;
  padding-left: 0.3em;
  text-transform: uppercase;
  font-size: 0.7em;
}

.edit-link a {
  text-decoration: none;
  color: #aaa;
  border-bottom: none;
}

.edit-link a:hover {
  text-decoration: underline;
  color: #555;
  background-color: transparent;
}
