/**
 * @file
 * Primary navigation.
 */

nav.menu--main > ul {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

nav.menu--main > ul li {
  flex: 1 0 auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav.menu--main > ul li a {
  display: block;
  margin-bottom: -2px;
  padding: 0.3em;
  color: var(--nav-link-color);
  border-bottom: 1px solid var(--nav-link-color);
  background: transparent;
}

nav.menu--main > ul li a:hover,
nav.menu--main > ul li a:focus {
  margin-bottom: -3px;
  color: var(--nav-link-color);
  border-bottom: 2px solid var(--nav-link-color);
}

nav.menu--main > ul li a.is-active {
  color: var(--nav-link-active-color);
  border-bottom: 1px solid var(--nav-link-active-color);
}

nav.menu--main > ul li a.is-active:hover,
nav.menu--main > ul li a.is-active:focus {
  margin-bottom: -3px;
  border-bottom: 2px solid var(--nav-link-active-color);
}

@media only screen and (min-width: 500px) {
  nav.menu--main > ul li {
    flex: 0 1 auto;
    width: auto;
    margin: 0.2em 1em;
  }
}
